<!doctype html>
<html>
<head>
    <title>Build For ...</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Here is your  <%= name %> Build</h1>
        <img src="<%= image %>" alt="lol photo">

        <p>Name: <%= name %></p>
        <p>Tips: <%= tips %></p>
        <p>Hardships: <%= hardships %></p>
        <p>Build Path: <%= build %></p>




        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
